body {
   background-color: #fcfcfc;
   color: #4a4a4a;
   font-family: Verdana, Arial, sans-serif;
   font-size: 15px;
   padding-left: 40px;
   padding-right: 40px;
}
h1 {
   font-family: Georgia, "Times New Roman", serif;
   font-size: 52px;
   color: #1a1a1a;
   letter-spacing: 2px;
   text-shadow: 1px 1px 2px #d5d5d5;
}
h2 {
   font-family: Georgia, "Times New Roman", serif;
   font-size: 28px;
   color: #0097a7
}
image {
   width: 380px;
   border: 2px solid #0097a7;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 0px;
   margin-right: 0px;
}